<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      *{
      margin : 0;
      padding : 0;
        }
        body {
        height: 100vh;
        background-color: #000;
        font-family: 'Roboto',sans-serif;
        background: linear-gradient(45deg,#2adb39 0%,#20e9f8 100%) no-repeat;
        }
      header {
      text-align: center;
      padding: 25px;
      }
      form {
      text-align: center;
      }
      input{
      width: 150px;
      background-color: blueviolet;
      cursor: pointer;
      }
      br {
        padding: 200px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
